<p-dialog 
    header="Header" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false"
    (onShow)="onShow()"
    (onHide)="onHide()">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <!-- <p-avatar 
                [image]="employee.picture.thumbnail"
                shape="circle" /> -->
            <span class="font-bold white-space-nowrap">
                <!-- {{ employee.username }} -->
            </span>
        </div>
    </ng-template>
    <div style="position: relative; height: 400px; width: 100%; background-color: aqua;">aaa</div>
    <div class="lg:grid lg:grid-cols-2 xs:grid xs:grid-cols-1 gap-4">
        <div class="mb-5 text-start">
            <label for="firstName" class="font-semibold w-full mb-2 text-left">First Name</label>
            <input pInputText id="firstName" [(ngModel)]="employee.firstName" class="flex-auto w-full" autocomplete="off" />
        </div>
        <div class="mb-5 text-start">
            <label for="lastName" class="font-semibold w-full mb-2 text-left">Last Name</label>
            <input pInputText id="lastName" [(ngModel)]="employee.lastName" class="flex-auto w-full" autocomplete="off" />
        </div>
        <div class="mb-5 text-start">
            <label for="birthDate" class="font-semibold w-full mb-2 text-left">Birth Date</label>
            <!-- <div class="flex-auto w-full">
                <p-calendar id="birthDate" [maxDate]="maxDate" [(ngModel)]="employee.birthDate"/>
            </div> -->
            <input pInputText id="birthDate" [(ngModel)]="employee.birthDate" class="flex-auto w-full" type="date" autocomplete="off" />
        </div>
        <div class="mb-5 text-start">
            <label for="basicSalary" class="font-semibold w-full mb-2 text-left">Basic Salary</label>
            <input pInputText id="basicSalary" [(ngModel)]="employee.basicSalary" class="flex-auto w-full" type="number" autocomplete="off" />
        </div>
        <div class="mb-5 text-start">
            <label for="status" class="font-semibold w-full mb-2 text-left">Status</label>
            <input pInputText id="status" [(ngModel)]="employee.status" class="flex-auto w-full" autocomplete="off" />
        </div>
        <div class="mb-5 text-start">
            <label for="group" class="font-semibold w-full mb-2 text-left">Group</label>
            <input pInputText id="group" [(ngModel)]="employee.group" class="flex-auto w-full" autocomplete="off" />
        </div>
        <div class="mb-5 text-start">
            <label for="description" class="font-semibold w-full mb-2 text-left">Description</label>
            <textarea pInputText id="description" [(ngModel)]="employee.description" class="flex-auto w-full" rows="3" autocomplete="off"></textarea>
        </div>
    </div>
    <div style="position: relative; height: 400px; width: 100%; background-color: aqua;">bbb</div>
    <ng-template pTemplate="footer">
        <p-button 
            label="Cancel" 
            [text]="true" 
            severity="secondary" 
            (click)="visible = false" />
        <p-button 
            label="Save" 
            [outlined]="true" 
            severity="secondary" 
            (click)="visible = false" 
          />
    </ng-template>
</p-dialog>