<p-card>
    <p-table 
        #dt1
        [loading]="loading"
        [scrollable]="true" 
        [resizableColumns]="true" 
        columnResizeMode="expand" 
        scrollHeight="500px" 
        [columns]="cols" 
        [value]="employees"
        [paginator]="true"
        [rows]="10"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['username', 'firstName', 'lastName', 'email', 'description', 'status', 'group', 'basicSalary', 'birthDate']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText [(ngModel)]="searchValue" placeholder="Search keyword" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field === 'username'">
                        <div class="flex justify-start">
                            <div><img [src]="rowData.picture.thumbnail" [alt]="rowData.username" style="border-radius: 50%; min-width: 50px; min-height: 50px;"></div>
                            <div class="text-center ml-2 mt-3">{{ col.field === 'basicSalary' ? formatCurrency(rowData[col.field]) : rowData[col.field] }}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="col.field !== 'username'">
                        {{ col.field === 'basicSalary' ? formatCurrency(rowData[col.field]) : rowData[col.field] }}
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
        </ng-template>
    </p-table>
</p-card>
