<div class="w-full overflow-auto">
    <p-table 
        [scrollable]="true" 
        scrollHeight="500px" 
        [columns]="cols" 
        [value]="employees"
        [paginator]="true"
        [rows]="10"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field === 'picture'">
                        <img [src]="rowData[col.field].thumbnail" [alt]="rowData[col.field].username" style="border-radius: 50%;">
                    </ng-container>
                    <ng-container *ngIf="col.field !== 'picture'">
                        {{ rowData[col.field] }}
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
        </ng-template>
    </p-table>
</div>
