<p-card>
    <p-table
        #dt1
        sortMode="multiple"
        [scrollable]="true" 
        [resizableColumns]="true" 
        columnResizeMode="expand" 
        scrollHeight="500px" 
        [columns]="cols" 
        [value]="employees"
        [paginator]="true"
        [rows]="10"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['username', 'firstName', 'lastName', 'email', 'description', 'status', 'group', 'basicSalary', 'birthDate']"
        
        >
        <ng-template pTemplate="caption">
            
                <div class="flex xs:flex-wrap md:flex-nowrap md:justify-between">
                    <p-button size="small" label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" class="xs:w-full md:w-auto mt-2" />
                    <span class="p-input-icon-left ml-auto p-col-12 p-md-10">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="searchValue" placeholder="Search keyword" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" class="p-inputtext p-col-12 xs:w-full" />
                    </span>
                </div>
            
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="text-center">

                    <ng-container *ngIf="col.field === 'status'">
                        <p-sortIcon [field]="col.field" class="mr-2"/>
                        {{ col.header }} 
                        <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [(ngModel)]="selectedStatuses" [options]="statuses" (onChange)="filter($event.value)" placeholder="">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag [value]="option.value" [severity]="getSeverity(option.label)" />
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </ng-container>

                    <ng-container *ngIf="col.field === 'group'">
                        <p-sortIcon [field]="col.field" class="mr-2"/>
                        {{ col.header }} 
                        <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [(ngModel)]="selectedGrup" [options]="grup" (onChange)="filter($event.value)" placeholder="">
                                    <ng-template let-option pTemplate="item">
                                        {{option.label}}
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </ng-container>

                    <ng-container *ngIf="col.field === 'basicSalary'">
                        <p-sortIcon [field]="col.field" class="mr-2"/>
                        {{ col.header }} 
                        <p-columnFilter type="numeric" [field]="col.field" display="menu" currency="IDR" />
                    </ng-container>

                    <ng-container *ngIf="col.field === 'birthDate'">
                        <p-sortIcon [field]="col.field" class="mr-2"/>
                        {{ col.header }} 
                        <p-columnFilter type="date" [field]="col.field" display="menu" />
                    </ng-container>

                    <ng-container class="flex align-items-center" *ngIf="col.field !== 'status' && col.field !== 'group' && col.field !== 'basicSalary' && col.field !== 'birthDate'">
                        <p-sortIcon [field]="col.field" class="mr-2"/>
                        {{ col.header }} 
                        <p-columnFilter type="text" [field]="col.field" display="menu" />
                    </ng-container>
                </th>

                <th class="text-center" alignFrozen="right" pFrozenColumn>
                    Action
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">

            <tr *ngIf="isLoading">
                <td *ngFor="let col of columns"><p-skeleton /></td>
            </tr>

            <tr *ngIf="isLoading === false">
                <td *ngFor="let col of columns" class="text-center">
                    <ng-container *ngIf="col.field === 'username'">
                        <div class="flex justify-start">
                            <div><img [src]="rowData.picture.thumbnail" [alt]="rowData.username" style="border-radius: 50%; min-width: 50px; min-height: 50px;"></div>
                            <div class="text-center ml-2 mt-3">{{ col.field === 'basicSalary' ? formatCurrency(rowData[col.field]) : rowData[col.field] }}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="col.field !== 'username'">
                        <ng-container *ngIf="col.field === 'basicSalary'">
                            {{ formatCurrency(rowData[col.field]) }}
                        </ng-container>
                        <ng-container *ngIf="col.field !== 'status'"></ng-container>
                        <ng-container *ngIf="col.field === 'birthDate'">
                            {{ formatDate(rowData[col.field]) }}
                        </ng-container>
                        <ng-container *ngIf="col.field === 'status'">
                            <p-tag [value]="rowData[col.field]" [severity]="getSeverity(rowData[col.field])" />
                        </ng-container>

                        <ng-container *ngIf="col.field !== 'basicSalary' && col.field !== 'birthDate' && col.field !== 'status'">
                            {{ rowData[col.field] }}
                        </ng-container>
                    </ng-container>
                </td>

                <td alignFrozen="right" pFrozenColumn>
                    <div class="flex justify-center min-w-[120px]">
                        <p-tag class="mr-2 cursor-pointer" severity="warning" value="edit" (click)="editEmployee(rowData)"/>
                        <p-tag class="cursor-pointer" severity="danger" value="delete" (click)="deleteEmployee(rowData)"/>
                    </div>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No employees found.</td>
            </tr>
        </ng-template>

    </p-table>
</p-card>
