<app-page-layout>
  <div class="full-width">
      <div class="text-center">
        @if(error | async) {
          <h1>Can't get data employee {{error}}</h1>
        }@else {

          <table-component [employees]="data"/>

          <!-- @for (org of employees$ | async; track $index) {
            <div>
              <p>user name {{org.username}}</p>
              <p>birth day {{org.birthDate}}</p>
            </div>
          } -->
        }

      </div>
  </div>
</app-page-layout>
