<app-page-layout>
  <div class="full-width">
      <div class="text-center">
        @if(error | async) {
          <h1>Can't get data employee {{error}}</h1>
        }@else {
          
            <table-component [employees]="employeesValue" [isLoading]="loading" (handleEdit)="openDialogEditEmployee($event)" (handleDelete)="openDialogDeleteEmployee($event)" (handleNew)="openDialogNewEmployee()"/>
            <employee-form [visible]="employeeDialogVisibility" [dataEmployee]="selectedData" (closeDialog)="closeDialogEmployee($event)" (saveDialog)="closeDialogEmployee($event)"/>
          
        }
      </div>
  </div>
</app-page-layout>
