@layer tailwind-base, primeng, tailwind-utilities;

@import "primeicons/primeicons.css";
        
@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.p-inputnumber{
    width: 100%;
}

.p-calendar{
    width: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb:hover {
    width: 5px;
    height: 5px;
    transition: width 0.3s, height 0.3s;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #919191;
}